<div class="card mb-3" style="cursor: pointer;" onclick="toggleProduct('{{nombre}}')">
    <img src="/images/{{nombre}}.png" class="card-img-top" alt="{{nombre}}">
    <div class="card-body">
        <h5 class="card-title">{{nombre}}</h5>
    </div>
</div>


